.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popup_Container
{
    /*background-color:#fffeb2;
	border:2px solid #000000;*/
    padding: 0px 0px 0px 0px;

    background-color: white;
    border: 1px solid #1684b9;
    -moz-border-radius: 5px;
}

.popupConfirmation
{
	width: 300px;
	height: 200px;
}
.popupConfirmation2
{
	width: 680px;
	height: 200px;
}
.popup_Titlebar {
	/*background: url(Images/titlebar_bg.jpg);*/
    background-color: #1684b9;
	height: 29px;
}

.popup_Body
{
	padding:20px 15px 5px 5px;
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	line-height:15pt;
	clear:both;
}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}
.TitlebarRight 
{
	background:url(../Image_Design/cross_icon_normal.png);
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}

.popup_Buttons
{
	margin:10px 10px 15px 10px;
    text-align:center;
}