.colHeader{text-align:center;font-weight:bold;padding: 5px 0px 5px 0px;background-color: #E0D1C2;}
.colLeft{text-align:right;padding-right: 5px;width:200px;}
.select{width: 150px;height: 22px;border-radius: 5px;}

.fs1 { 
    border: 1px solid #7ec6e3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    width:150px;
}
.fs2 { 
    border: 1px solid #7ec6e3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top:10px;
}

.ld
{
    font-size:15px;
    font-weight:bold;
    }